.filter {
  max-width: 810px;
  width: 100%;
}

.filterWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.filterDropdowns {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.filterSearch {
  display: flex;
  flex-direction: column;
  gap: 30px;
}