
.grid {
  padding: 100px 0 20px;
  align-self: stretch;

  display: flex;
  flex-direction: column;

  @media (min-width: 767px) {
    padding-bottom: 20px;
  }
}

.gridWrapper {
  flex-grow: 1;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: repeat(4, 40vh);
  gap: 30px;

  @media (min-width: 640px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: 40vh;
    gap: 30px 20px;
  }

  @media (min-width: 1200px) {
    grid-template-rows: 45vh;
  }
}

.gridItem {
  border-radius: 10px;
  border: 2px solid #66FF00;
  box-shadow: 0 4px 8px #ffff04;

  background-color: #000000;

  overflow: hidden;

  transform: translateX(-150%);
  opacity: 0;
  animation: move-in 3s ease-in-out forwards;

  &:nth-child(1) {
    position: relative;

    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;

      max-width: 100%;
      width: 100%;
      min-height: 200px;

      display: block;

      background-image: url("../../images/rick_fun.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;

      transform: translateY(100%);

      animation: move 1s 3s linear forwards;


      @keyframes move {
        0% {
          transform: translateY(100%);
        }
        100% {
          transform: translateY(0);
        }
      }
    }
  }

  @media (min-width: 640px) {
    &:nth-child(2) {
      grid-column: 2/span 2;
    }

    &:nth-child(3) {
      grid-column: 1/span 2;
    }

    &:nth-child(4) {
      grid-column: 3/span 1;
    }
  }
}

@keyframes move-in {
  0% {
    transform: translateX(-150%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.transformRight {
  transform: translateX(150%);
  animation: move-in-right 3s ease-in-out forwards;
}

@keyframes move-in-right {
  0% {
    transform: translateX(150%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}


.announce {
  overflow: hidden;

  &:hover {
    .announceWrapper {
      transform: scale(1.05);
    }
  }
}

.announceWrapper {
  position: relative;
  z-index: 2;

  padding: 30px 20px;

  min-height: 100%;

  display: flex;
  flex-direction: column;
  gap: 20px;

  color: #fff;

  background: rgb(124, 15, 15);
  background: radial-gradient(circle, rgba(124, 15, 15, 0.8435749299719888) 0%, rgba(120, 28, 10, 0.8463760504201681) 1%, rgba(98, 37, 25, 0.8743872549019608) 8%, rgba(68, 26, 18, 0.9051995798319328) 21%, rgba(14, 1, 1, 0.9248074229691877) 57%);

  transition-duration: 0.3s;
}

.announceHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.announceMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.announceMonth {
  font-size: 25px;
  font-weight: bold;
}

.announceText {
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
}

.announceIcon {
  color: #d71922;
  font-size: 25px;

  @media (min-width: 991px) {
    font-size: 35px;
  }
}