@font-face {
    font-family: 'icomoon';
    src:  url('iconsFiles/icomoon.eot?i82lmk');
    src:  url('iconsFiles/icomoon.eot?i82lmk#iefix') format('embedded-opentype'),
    url('iconsFiles/icomoon.ttf?i82lmk') format('truetype'),
    url('iconsFiles/icomoon.woff?i82lmk') format('woff'),
    url('iconsFiles/icomoon.svg?i82lmk#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right:before {
    content: "\e900";
}
.icon-episodes:before {
    content: "\e901";
}
.icon-characters2:before {
    content: "\e902";
}
.icon-locations:before {
    content: "\e903";
}
.icon-netflix_logo:before {
    content: "\e904";
}
.icon-characters:before {
    content: "\e906";
}
.icon-favorites:before {
    content: "\e9d8";
}
.icon-chevron-up:before {
    content: "\e905";
}
.icon-home:before {
    content: "\e90c";
}
.icon-star:before {
    content: "\e907";
}
.icon-search:before {
    content: "\e986";
}
