
.message {
  font-size: 14px;
  color: #fff;
  margin-bottom: 12px;

  text-align: center;
}

// styles/CharacterSkeleton.module.scss

.skeletonWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1b1b1b; // Темна фоновка для контрасту
  border: 2px solid #66FF00;  // Додано синю рамку
  border-radius: 10px;
  padding: 20px;
  height: 80vh;
  max-height: 400px; // Висота картки персонажа
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.skeletonImage {
  width: 100%;
  height: 200px;
  background-color: #2d2d2d; // Placeholder кольору
  border-radius: 8px;
  margin-bottom: 15px;
  animation: pulse 1.5s infinite ease-in-out; // Анімація
  border: 2px solid #66FF00;  // Синя рамка навколо зображення
}

.skeletonText {
  width: 80%;
  height: 20px;
  background-color: #2d2d2d; // Placeholder для тексту
  border-radius: 4px;
  margin-bottom: 10px;
  animation: pulse 1.5s infinite ease-in-out;
}

.skeletonText:last-child {
  width: 60%;  // Вужчий блок для додання різноманітності
}

// Додатковий синій відтінок для текстових блоків
.skeletonText::before {
  content: '';
  display: block;
  height: 100%;
  background-color: #66FF00;
  animation: pulse 1.5s infinite ease-in-out;
}

// Анімація для пульсування
@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

