.searchInput {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}

.label {

}

.input {
  padding: 5px;

  background-color: transparent;
  border: 2px solid #66FF00;
  border-radius: 5px;
}