.nav {
  display: none;

  @media (min-width: 767px) {
    display: block;


    &.desktop {
      position: fixed;
      top: 58px;
      left: 0;
      z-index: 9;

      height: calc(100svh - 58px);

      background-color: rgba(0, 0, 0, 0.8);

      transform: translateX(-100%);
      transition-duration: 0.5s;
    }

    &.active {
      transform: translateX(0);
    }
  }

  &.mobile {
    display: block;

    @media (min-width: 767px) {
      display: none;
    }
  }
}

.list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

  &.desktop {
    flex-direction: column;
    gap: 40px;

    padding: 20px;
  }

}

.navItem {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    right: -20px;
    top: 0;

    width: 5px;
    height:50px;

    background-color: #ffff04;

    transform: scale(0);
    transition-duration: 0.5s;
  }

  &.active {
    &::before {
      transform: scale(1);
    }
  }
}

.link {
  position: relative;

  width: 45px;

  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 30px;

  transition-duration: 0.3s;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -15px;

    font-size: 10px;
    width: 100%;

    text-align: center;
    transform: scale(0);

    transition-duration: 0.3s;
  }

  &:hover {
    filter: drop-shadow(0 0 10px #66FF00);

    &::after {
      content: attr(data-title);

      transform: scale(1);
    }
  }

  &.active {
    color: #ffff04;

    &::after {
      content: attr(data-title);

      transform: scale(1);
    }
  }
}