.filterOptions {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 10px;
}

.option {
  position: relative;
  z-index: 1;

  padding: 10px 5px;

  background-color: #000;
  border: 2px solid #66FF00;
  border-radius: 6px;

  transition: all 0.3s ease-in-out;

  &.active {
    border-color: #fff;
    color: #fff;
  }
}